/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
html {
  font-size: 45px;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2EADB;
  font-family: 'DynaPuff', sans-serif;
  color: #75411a;
  line-height: 1.5;
}


/* HEADER */
.logo-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: clamp(20px, 2vw, 10px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #E6D8C3;
}

.logo-img {
  width: clamp(115px, 10vw, 120px);
}

.menu a {
  margin-left: clamp(10px, 2vw, 20px) ;
  text-decoration: none;
  color: #75411a;
  font-weight: 515;
  font-size: clamp(30px, 1.5vw, 18px);
  position: relative; /* necessário para o pseudo-elemento */
  transition: color 0.3s;
}


.menu a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #75411a;
  left: 0;
  bottom: -3px;
  transition: width 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

/* MAIN */
main {
  flex: 1;
}

/* HOME */
.home {
  text-align: center;
  padding: clamp(40px, 10vw, 80px) 20px;
}

.home h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.home p {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: clamp(10px, 2vw, 16px) clamp(20px, 5vw, 24px);
  background-color: #75411a;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #7a614d; 
  transform: scale(1.05); 
}

/* CATÁLOGO */
.catalogo {
  padding: clamp(20px, 5vw, 40px) 20px;
  text-align: center;
  text-decoration: underline
}

.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: clamp(15px, 3vw, 30px);
  margin-top: clamp(20px, 5vw, 30px);
}

.produto-card img {
  width: 80%;
  max-width: 180px;
  margin: 0 auto;
  display: block;
}

.produto-card p {
  margin-top: 10px;
  font-size: clamp(14px, 3vw, 14px);
  
}

/* RODAPÉ */
footer {
  background-color: #75411a;
  padding: clamp(15px, 3vw, 20px);
  text-align: center;
}

footer p {
  color: #fff;
  font-size: clamp(12px, 2vw, 13px);
}

.rodape-links {
  margin-top: 8px;
}

.rodape-links a {
  margin: 0 clamp(5px, 2vw, 10px);
  color: #fff;
  text-decoration: none;
  font-size: clamp(12px, 2vw, 13px);
}
