* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-weight: 400;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2EADB;
  font-family: 'DynaPuff', sans-serif;
  color: #75411a;
  line-height: 1.5;
}

.logo-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 5%;

  background-color: #E6D8C3;
  gap: clamp(20px, 5vw, 40px);
}

.logo-img {
  width: clamp(130px, 12vw, 160px);
  height: auto;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu a {
  text-decoration: none;
  color: #75411a;
  font-weight: 515;
  font-size: clamp(30px, 2vw, 28px);
  position: relative;
  padding: 5px 10px;
  transition: color 0.3s;
}

.menu a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #75411a;
  left: 10px;
  bottom: -5px;
  transition: width 0.3s;
}

.menu a:hover::after, 
.menu a.active::after {
  width: calc(100% - 20px);
}

.menu a.active {
  color: #75411a;
}

main {
  flex: 1;
}

.home {
  text-align: center;
  padding: clamp(30px, 8vw, 50px) 20px;
  max-width: 800px;
  margin: 0 auto;
}

.home h1 {
  margin-top: 50px;
  font-size: 2.5rem; 
  margin-bottom: 15px;
}

.home p {
  margin-top: 50px;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.btn {
  display: inline-block;
  margin-top: 50px;
  padding: clamp(10px, 2vw, 16px) clamp(20px, 5vw, 32px);
  background-color: #75411a;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #7a614d;
  transform: scale(1.05);
}

.catalogo {
  padding: clamp(20px, 5vw, 20px) 20px;
  text-align: center; 
  text-decoration: underline;
  margin-top: 0px;
  font-size: 2.0rem; 
  margin-bottom: 100px;
}

.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  gap: clamp(15px, 3vw, 30px);
  margin-top: clamp(20px, 5vw, 30px);
  
}

.produto-card img {
  width: 90%;
  max-width: 180px;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}

.produto-card p {
  margin-top: 10px;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 500;
  color: #75411a;
}

footer {
  background-color: #75411a;
  padding: clamp(20px, 4vw, 30px);
  text-align: center;
  margin-top: 40px;
}

footer p {
  color: #fff;
  font-size: clamp(12px, 2vw, 14px);
}

.rodape-links {
  margin-top: 10px;
}

.rodape-links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: clamp(12px, 2vw, 14px);
}

@media (max-width: 480px) {

  html {
    font-size: 16px; 
  }

  .catalogo h2 {
    font-size: 1.2rem; 
    margin-bottom: 10px;
  }

  .logo-header {
    padding: 15px 10px;
    flex-direction: column;
    gap: 10px;
  }

  .logo-img {
    width: 120px;
  }

  .menu a {
    font-size: 1.2rem; 
    margin-left: 5px;
    margin-right: 5px;
  }

  .catalogo-grid {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 0 10px;
  }
}

.assinatura-container {
    margin-top: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
